<%- include("includes/header.ejs"); %>  

    <section class="content" id="backGroundImg">
        <h1>Welcome to GetInspired</h1>
        <p>Discover daily quotes, book recommendations, and more to keep you inspired!</p>
    </section>
    <%- include("includes/footer.ejs"); %>  
</body>
</html>
